<template>
  <section class="hero is-success is-fullheight">
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <n-link class="navbar-item" :to="localePath('login')">
                Login
              </n-link>
              <n-link class="navbar-item" :to="localePath('page')">
                page
              </n-link>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Nuxt.js
        </h1>
        <h2 class="subtitle">
          Quick starter
        </h2>
      </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li><a href="https://buefy.org/documentation/" target="_blank">Buefy</a></li>
            <li><a href="https://bulma.io/documentation" target="_blank">Bulma</a></li>
            <li><a href="https://nuxtjs.org/api/" target="_blank">Nuxt.js</a></li>
            <li><a href="https://vuejs.org/v2/guide/index.html" target="_blank">Vue.js</a></li>
            <li><a href="https://ru.nuxtjs.org/examples/vuex-store/" target="_blank">Vuex</a></li>
            <li><a href="https://nuxtjs.org/guide/routing/" target="_blank">Nuxt.js Router</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</template>
<script>
import {mapState, mapActions, mapMutations} from "vuex"

export default {
  name: 'HomePage',
  i18n: {
      messages: {
          ru: {
              title: "Главная страница",
              description: "Описание главной страницы",
          },
          en: {
              title: "Home page",
              description: "Home page description",
          }
      }
  },
  data: ()=> ({

  }),
  computed:mapState({
      siteName: state => state.siteName,
  }),
  beforeMount(){
      this.CURRENT_PAGE(this.$t("title"))
  },
  methods: {
      ...mapMutations([
          'CURRENT_PAGE'
      ]),
  },
  head(){return {
      title: `${this.$t("title")} :: ${this.siteName}`,
      meta: [
          { 
              hid: 'description', name: 'description', 
              content: this.$t("description")
          }
      ]
  }},
}
</script>
