<template>
    <section class="login">
        <div class="window">
            <div class="lang">
                <nuxt-link v-if="$i18n.locale !== 'en'" :to="switchLocalePath('en')">
                    English
                </nuxt-link>
                <nuxt-link v-if="$i18n.locale !== 'ru'" :to="switchLocalePath('ru')">
                    Русский
                </nuxt-link>
            </div>
            <nuxt-link :to="localePath('index')" class="back">
                <b-icon
                    icon="arrow-left"
                    size="is-large">
                </b-icon>
            </nuxt-link>
            <form @submit.prevent="login">
                <b-field :label="$t('email')">
                    <b-input v-model.trim="email" :disabled="loading"></b-input>
                </b-field>
                <b-field :label="$t('password')" >
                    <b-input type="password" v-model="password" :disabled="loading"></b-input>
                </b-field>
                <b-button @click="login" type="is-primary" native-type="submit" :loading="loading">{{$t('signIn')}}</b-button>
            </form>
        </div>
    </section>
</template>
<script>
import {mapState, mapActions, mapMutations} from "vuex"

export default {
    name: "login",
    i18n: {
        messages: {
            ru: {
                title: "Авторизация",
                description: "Страница входа в систему",
                email: "Email",
                password: "Пароль",
                signIn: "Войти",
                success: "Авторизация прошла успешно"
            },
            en: {
                title: "Sign in",
                description: "Sign in page",
                email: "Email",
                password: "Password",
                signIn: "Sign in",
                success: "Authorization successful"
            }
        }
    },
    data: ()=> ({
        email: "",
        password: "",
        loading: false
    }),
    computed:mapState({
        siteName: state => state.siteName,
    }),
    beforeMount(){
        this.CURRENT_PAGE(this.$t("title"))
    },
    methods: {
        ...mapMutations([
            'CURRENT_PAGE'
        ]),
        
        validateEmail(email) {
            let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        },
        
        login(){
            // this.loading = true;

            console.log(this.validateEmail(this.email));
            // setTimeout(()=>{
            //     this.loading = false;
            //     this.$buefy.toast.open(this.$t("success"))
            //     this.$router.push(this.localePath("index"))
            // }, 1000)
            
        }
    },
    head(){return {
        title: `${this.$t("title")} :: ${this.siteName}`,
        meta: [
            { 
                hid: 'description', name: 'description', 
                content: this.$t("description")
            }
        ]
    }},
}
</script>
<style lang="scss" scoped>
    .login {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .window {
        background: #fff;
        width: 350px;
        padding: 30px;
    }

    .back {
        position: absolute;
        left: 30px;
        top: 30px;        
    }

    .lang {
        text-align: right
    }
</style>