<template>
    <section>
        {{$t("text")}}
    </section>
</template>
<script>
import {mapState, mapActions, mapMutations} from "vuex"
// import axios from "axios"



export default {
    name: "simplePage",
    i18n: {
        messages: {
            // ru: {
            //     title: "Простая страница",
            //     description: "Описание простой страницы",
            //     text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.'
            // },
            en: {
                title: "Simple page",
                description: "Simple page description",
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus pellentesque odio, eu semper odio ultricies egestas. Nulla viverra viverra condimentum. Quisque lobortis maximus ante id consectetur. Donec felis orci, faucibus a augue sed, dignissim tincidunt est. Vivamus accumsan pulvinar porttitor. Donec vel elementum urna. Nam suscipit ut elit sed aliquam. Aliquam molestie placerat fringilla. In eget metus sit amet purus interdum tincidunt. Maecenas eu augue vitae ante aliquam efficitur sit amet vel felis. Etiam ipsum leo, ullamcorper ut lacus vel, condimentum dapibus augue. Suspendisse volutpat dapibus fringilla. Donec vehicula, orci hendrerit sodales varius, dui libero lacinia nisi, sed pretium eros arcu eget felis."
            }
        }
    },
    data: ()=> ({
        
    }),
    computed:mapState({
        siteName: state => state.siteName,
    }),
    beforeCreate(){
            this.$i18n.setLocaleMessage("ru", {
                title: "Простая страница",
                description: "Описание простой страницы",
                text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.'
            });
    },
    beforeMount(){
        this.CURRENT_PAGE(this.$t("title"));

        

    },
    methods: {
        ...mapMutations([
            'CURRENT_PAGE'
        ]),
    },
    head(){return {
        title: `${this.$t("title")} :: ${this.siteName}`,
        meta: [
            { 
                hid: 'description', name: 'description', 
                content: this.$t("description")
            }
        ]
    }},
}
</script>
<style lang="scss" scoped>
    
</style>